@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #fafafa;
  --foreground-green: #3ecf8e;
  --background-green: #006239;
  --lighter-black: #242424;
}

* {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto Condensed", monospace;
}
